body{
    background: #232323;
    margin: 0;
    font-family: "Montserrat","Avenir";
}
#rgb{
    font-size: 200%;
}
.square{
    background: #232323;
    padding-bottom: 30%;
    width: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20%;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
}
#container{
    background: #232323;
    margin: 20px auto;
    max-width: 600px;
}
h1{
  color: white;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.1;
  text-align: center;
  background: steelblue;
  margin: 0px;
  padding: 20px 0;
}
h3{
    background: white;
    height : 100%;
    color: steelblue;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px;
}
.selected{
    color: white;
    background: steelblue;
}
button{
    font-weight: 700;
    font-size: 18px;
    border: none;
    background: none;
    text-transform: uppercase;
    height : 100%;
    color: steelblue;
    letter-spacing: 1px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    outline: none;
}
#message{
    display: inline-block;
    width: 20%;
}
button:hover {
    color: white;
    background: steelblue;
}